[mysqld]
innodb_buffer_pool_size = 4G
innodb_buffer_pool_size = 2G

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

slow_query_log = 1

# 슬로우 쿼리 로그 파일 경로
slow_query_log_file = /data/slow_query.log

# 슬로우 쿼리 실행 시간 임계값 (단위: 초)
long_query_time = 4

# 로그에 인덱스 사용 안 함
log_queries_not_using_indexes = 1


log_bin = mysql-bin

# 바이너리 로그 파일 위치
log_bin_index = /data/mysql-bin.index

# 바이너리 로그 포맷 설정 (선택 사항)
binlog_format = ROW

# 바이너리 로그 사이즈 제한 (선택 사항, 예: 1GB)
max_binlog_size = 1G